<nav class="navbar navbar-expand-lg bg-dark ">
    <a class="p-3 navbar-brand text-white" routerLink="/home" >Phone Store</a>
    <div class=" p-3 collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
</nav>